* {
  font-size: 18px;
}

body {
  /* background: conic-gradient(white, powderblue, rgb(182, 182, 255)); */
  background: url("background.png");
  /* background: conic-gradient(white, powderblue); */
}

#header {
  margin-bottom: 4.5rem;
}

#container {
  margin: 0 auto;
  /* background: conic-gradient(white, powderblue); */
  /* background-image: url("background.png"); */
  background-color: white;
  height: 100%;
  width: 800px;
  padding: 0;
  color: black;
}

.picture {
  width: 180px;
  height: 249px;
  float: left;
}
.picture img {
  width: 145px;
  height: 158px;

  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  /* background-color: #555; */
}

.picture .af {
  width: 30px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.btn-cv {
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  animation: UpDown 1s linear infinite;
  position: absolute;
  left: 50;
}
@keyframes UpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.goals .af {
  width: 145px;
  height: 65px;
  text-align: center;
}

#header {
  width: 678px;
  height: 282px;
  padding-top: 86px;
  padding-left: 120px;
  /* background-image: url("cycle.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.5; */
}

.info {
  width: 476px;
  height: 244px;
  float: left;
  margin-left: 10px;
}

.info h1 {
  margin: 0;
  margin-top: 2px;
}

.info h2 {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.info ul li {
  margin-top: 12px;
}

.goals {
  padding-left: 120px;
  width: 600px;
}
.goals h3 {
  border-bottom: 2px solid;
  padding-bottom: 2px;
  margin-bottom: 0;
}

.date {
  width: 30%;

  float: left;
}

.detail {
  width: 70%;

  float: left;
}

.header__qrcode {
  margin-left: 1.2rem;
}

.textInHoa {
  text-transform: uppercase;
}

/* .header__qrcode .af {
  width: 50px;
  height: 80px;
} */
